@import "tailwindcss";

@theme {
  /* hsl 
  Hue (the pure color like red or green), 
  Saturation (the color's intensity or purity, with 0% being gray and 100% being full color)
  Lightness (how light or dark the color is, where 0% is black and 100% is white) */
  --color-border: hsl(var(--border));
  --color-background: var(--background);
  --color-foreground: hsl(var(--foreground));

  --color-background-check : var(--background);

  --color-card: var(--card);
}

:root {
    background: linear-gradient(142deg, #da92ab 8%, #c66bb7 21%, #c963d2 30%, #ae5cf6 60%, #3f335b 100%);
    /* background: linear-gradient(142deg, oklch(71.4% 0.203 305.504), oklch(71.4% 0.203 305.504) ); */

    --background-check : black;
    --foreground: 222 47% 11%;

    --border: 214 32% 91%;

    --card: #ffeefe;
  }

.dark {
    background: linear-gradient(142deg, #4a5555 15%, #2d4242 40%, #1d2e2e 70%, #0f1b1b 100%);
    --foreground: 213 31% 91%;

    --border: 214 32% 91%;

    --card: #0f2020;
  }

  * {
    @apply border-border;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}


@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border {
  @apply relative;
  background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility cosmic-button {
  @apply px-6 py-2 rounded-md;
  border: 1px solid transparent;
  background-clip: padding-box;
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}